* {
  padding: 0;
  margin: 0;
}
img {
  font-style: italic; /* to set apart alt if only it loads */
  max-width: 100%;
  height: auto;
  vertical-align: auto;
}
html, body {
  box-sizing: border-box;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
}

#root {
  height: 100%;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
}
.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  background-image: url('/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.background-images-block {
  z-index: -100;
  width: 100%;
  pointer-events: none;
}

.header-image {
  position: absolute;
  width: 100%;
}
.header-boyngirl {
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 90%;
  min-height: 100%;
}

.header-illustration {
  width: 15%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.boyMenu {
  left: 0;
}
.girlMenu {
  transform: rotate(6deg);
  right: 0;
}

.title-block {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #FFF;
  text-align: center;
  font-family: 'Kablammo';
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 115.2px */
  text-transform: uppercase;
  margin: 0;
}
.rules {
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  color: #FFF;
}

.fears-page .title {
  padding-top: 1rem;
}

.fears-list {
  padding-top: 5px;
  padding-bottom: 5px;
  flex: 1;
  padding-left: 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  color: #FFF;
  font-size: 20px;
}
@media (max-width: 600px) {
  /* Change to a single column layout for narrow screens */
  .fears-list {
    grid-template-columns: 1fr;
    padding-left: 0;
  }
}
.fears-list svg {
  flex-shrink: 0;
}
.fears-list li {
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: center;
}

.fears-list p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}


.button {
  width: 318px;
  height: 68px;
  border-radius: 30px;
  border: 2px solid #FFF;
  text-align: center;
  color: #FFF ;
  font-size: 24px;
  font-style: bold;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
}

.buttonDescription {
  background-color: rgba(28,28,28,0);
  text-align: center;
}

.buttonStart {
  display: inline;
  color: black;
  background-color: rgba(255, 255, 255, 1);
}



.button:hover {
  color: #a0a0a0;
  background-color: #A4C2F7a2;
  border: 2px solid #a0a0a0;
}
.buttonStart:hover {
  background-color: #A4C2F7;
  color: black;
}


nav {
  align-self: flex-end;
  padding-bottom: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rules-page nav {
  padding-bottom: 6rem;
}

.clickedButton {
  border-radius: 30px;
  border: 2px solid #A4C2F7;
  color: #A4C2F7;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }

.btn-1 {
  margin: 0 0 0 175px;
}

.result-btn {
  position:relative;
  top: 0px;
}

.hiddenButtons {
  display: none;
}

