img {
  font-style: italic; /* to set apart alt if only it loads */
  max-width: 100%;
  height: auto;
  vertical-align: auto;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}


body {
  background-image: url('/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.rules-page {
  position: relative;
  width: 100%;
  min-height: 100%;
}
.background-images-block {
  z-index: -100;
  width: 100%;
  pointer-events: none;
}

.header-image {
  position: absolute;
  width: 100%;
}
.header-boyngirl {
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 90%;
  min-height: 100vh;
}

.header-illustration {
  width: 15%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.boyMenu {
  left: 0;
}
.girlMenu {
  transform: rotate(6deg);
  right: 0;
}

.title-block {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

.title {
  color: #FFF;
  text-align: center;
  font-family: 'Kablammo';
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 115.2px */
  text-transform: uppercase;
  margin: 0;
}
.rules {
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  color: #FFF;
}

.fears-page .title {
  padding-top: 30px;
}

.fears-page {
  height: 100%;
}
.fears-list {
  padding-left: 6rem;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 24px;
}
.fears-list svg {
  flex-shrink: 0;
}
.fears-list li {
  display: flex;
  gap: 1rem;
  list-style: none;
  width: 600px;
}

.fears-list p {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 32ch;
}


.button {
  
  width: 318px;
  height: 68px;
  gap: 20px;
  border-radius: 30px;
  border: 2px solid #FFF;
  text-align: center;
  color: #FFF ;
  font-size: 24px;
  font-style: bold;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
}

.buttonDescription {
  background-color: rgba(28,28,28,0);
  text-align: center;
  margin: 80px 10px 0px 10px;
}

.buttonStart {
  display: inline;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  margin: 80px 10px 0px 10px;
}



.button:hover {
  color: #a0a0a0;
  background-color: #A4C2F7a2;
  border: 2px solid #a0a0a0;
}
.buttonStart:hover {
  background-color: #A4C2F7;
  color: black;
}


.boyInGame {
  top: 190px;
}
.girlInGame {
  width: 210.038px;
  height: 450.034px;
  top: 190px;
  right: 150px;
}


.fears {
  width: 647px;
  align-items: center;
  margin: -70px 750px 0px 750.24px;
  gap: 60px;
}

.buttonContainer {
  position: absolute;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50px;
}

.leftFearGirl {
  position: absolute;
  top: 250px;
  width: 172.038px;
  height: 393.034px;
  flex-shrink: 0;
  fill: #FFF;
  margin: 0px 1624px 0px 170px
}

.rightFearGirl {
  position: absolute;
  top: 250px;
  transform: rotate(6.896deg);
  width: 196.5px;
  height: 393px;
  flex-shrink: 0;
  margin:   0px 0.5px 0px 1600.24px;
}

.clickedButton {
  border-radius: 30px;
  border: 2px solid #A4C2F7;
  color: #A4C2F7;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }

.btn-1 {
  margin: 0 0 0 175px;
}

.title-result {
  position: absolute;
  top: 200px;
}

.result-btn {
  position:relative;
  top: 0px;
  
}

.result-header {
  position: absolute;
  top: 0px;
}

.hiddenButtons {
  display: none;
}

