:root {
  width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.body {
  display: inline-flex;

}

.title {
  height: 230px;
  width: 1122px;
  color: #FFF;
  text-align: center;
  font-family: 'Kablammo';
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 115.2px */
  text-transform: uppercase;
  margin: 50px 250px 0px 440px;

}
.rules {
  font-family: Gilroy;
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0px 508px 0px 630px;
  color: #FFF;
}

.button {
  font-family: Gilroy;
  width: 318px;
  height: 68px;
  gap: 20px;
  border-radius: 30px;
  border: 2px solid #FFF;
  text-align: center;
  color: #FFF ;
  font-size: 24px;
  font-style: bold;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  
}

.buttonDescription {
  background-color: rgba(28,28,28,0);
  text-align: center;
  margin: 80px 10px 0px 10px;
}

.buttonStart {
  display: inline;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  margin: 80px 10px 0px 10px;
}



.button:hover {
  color: #a0a0a0;
  border: 2px solid #a0a0a0;
}
.buttonStart:hover {
  background-color: #A4C2F7;
  color: black;
}

.header {
  display: flex;
  width: 1900px;
  height: 200.42px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0px 0px 0px 20px;
}

.boyMenu {
  position: absolute;
  width: 172.038px;
  height: 393.034px;
  flex-shrink: 0;
  fill: #FFF;
  margin: 0px 1624px 0px 170px
}

.boyInGame {
  width: 200.038px;
  height: 450.034px;
  top: 190px;
}
.girlMenu {
  position: absolute;
  transform: rotate(6.896deg);
  width: 196.5px;
  height: 393px;
  flex-shrink: 0;
  margin:   0px 0.5px 0px 1600.24px;

}

.girlInGame {
  width: 210.038px;
  height: 450.034px;
  top: 190px;
  right: 150px;
}

.background {
  position: absolute;
  top:0;
  align-items: center;
  flex-shrink: 0;
  z-index: -1;
}

.fears {
  width: 647px;
  align-items: center;
  margin: -70px 750px 0px 750.24px;
  gap: 60px;
}

.buttonContainer {
  position: absolute;
  display: inline-block;
  padding:  0px 0px 50px 0px;
  align-items: center;
  margin: 50px 0 0 500px;
}

.leftFearGirl {
  position: absolute;
  top: 290px;
  left: 200px;
}

.rightFearGirl {
  position: absolute;
  top: 290px;
  right: 120px;
}

.clickedButton {
  border-radius: 30px;
  border: 2px solid #A4C2F7;
  color: #A4C2F7;
font-family: Gilroy;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.btn-1 {
  margin: 0 0 0 175px;
}

.title-result {
  position: absolute;
  top: 200px;
}

.result-btn {
  position: absolute;
  bottom: 70px;
  left: 320px;
  padding: 150px;
}

.result-header {
  position: absolute;
  top: 200px;
}

.hiddenButtons {
  display: none;
}

