.game-container {
  background-color: white;
  position: relative;
  width: 600px;
  height: 400px;
  border: 1px solid #000000;
  margin: 100px 20px 20px 20px;
  overflow: hidden;
  margin: 0 0 0px 700px;
}

.duck {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: orange;
  cursor: pointer;
}

.title-game {
  height: 100px;
  width: 700px;
  color: #FFF;
  text-align: center;
  font-family: 'Kablammo';
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 115.2px */
  text-transform: uppercase;
  margin: 50px 250px 100px 650px;
}

.score {
  position: absolute;
  top: 170px;
  left: 450px;
  height: 100px;
  width: 700px;
  color: #FFF;
  text-align: center;
  font-family: 'Kablammo';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 115.2px */
  text-transform: uppercase;
  margin: 0px 0px 0px 0px;
}

.stopwatch-container {
  position: absolute;
  top: 130px;
  left: 920px;
  height: 50px;
  width: 500px;
  color: #FFF;
  text-align: center;
  font-family: 'Kablammo';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 115.2px */
  text-transform: uppercase;
  margin: 0px 0px 0px 0px;
}