.game-container {
  display: flex;
  justify-items: center;
  align-content: center;
  background-color: white;
  position: relative;
  width: 650px;
  height: 450px;
  border: 1px solid #000000;
  overflow: hidden;
}
.start-game-button {
  color: white;
  font-size: 32px;
  width: 100%;
  position: relative;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #5C5772;
  border: 0;
}

.start-game-button:hover {
  background-color: #150E36;
}

.duck {
  position: absolute;
  cursor: pointer;
}

.duck p {
  display: none;
}

.title-game {
  color: #FFF;
  text-align: center;
  font-family: 'Kablammo';
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 115.2px */
  text-transform: uppercase;
}

.score {
  color: #FFF;
  text-align: center;
  font-family: 'Kablammo';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 115.2px */
  text-transform: uppercase;
}

.stopwatch-container {
  color: #FFF;
  text-align: center;
  font-family: 'Kablammo';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 115.2px */
  text-transform: uppercase;
}

.game-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
